<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SJYBH" value="1" />
    <add key="TCP104SERVER" value="192.168.2.6"/>
    <add key="SENDTCPIP" value="202.119.8.11"/>
    <add key="SENDTCPPORT" value="9001"/>
    <add key="PauseTime" value="120000"></add>
  </appSettings>
</configuration>